@import '../variables/var.scss'; 


.Designed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8em;
    max-width: 100vw;
    overflow: hidden;

    h2, h3 {
        font-family: $Ubuntu4-5-7;
        color: $VeryDarkBlue_Headings;
        font-weight: 500;
    }

    .header-designed {

        h2 {
            font-size: clamp(1rem, 1rem + 3vw, 2.5rem);       
        }
    }

    .main-designed{
        display: flex;
        max-width: 100%;
        align-items: center;

        .text-main-designed{
            max-width: 100%;
            width:fit-content;
            display: flex;
            flex-direction: column;
            padding-left: 4em;
            gap: 5em;

            .first-text-main-designed, .second-text-main-designed{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: start;
                gap: 1em;
                line-break: anywhere;

                h3 {
                    font-size: clamp(1rem , 1rem + 3vw, 1.5rem);
                }

                p {
                    color: $VeryDarkGrayishBlue_body_copy;
                    line-height: 1.5;
                    font-size: clamp(.5rem, 1rem + 3vw, 1rem);
                    font-family: $Ubuntu4-5-7;
                }
            }
        }
    }

    .images-main-designed {
        max-width: 100%;
        
        img {
            &:nth-child(1){
                height: auto;
                max-width: 100%;
                object-position: 8.5em;
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

@media (max-width: 700px) {

    .Designed {
        gap: 3em;
        
    }
    
    .main-designed {
        gap: 2em;
        flex-direction: column-reverse;
    }

    .text-main-designed {
        width: 50% !important;
        padding-left: 0 !important;
        
        .first-text-main-designed, .second-text-main-designed {
            align-items: center !important;
            text-align: center !important;
            line-break: loose !important;
            gap: 2em !important;
        }
    }

    .images-main-designed {

        img {
            &:nth-child(1){
                display: none;
            }
            &:nth-child(2){
                width: 100%;
                object-fit: cover;
                display: inline-block !important;
            }
        }
    }
}