@import '../variables/var.scss'; 

.Designed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8em;
    width: 100vw;

    h2, h3 {
        font-family: $Ubuntu4-5-7;
        color: $VeryDarkBlue_Headings;
        font-weight: 500;
    }

    .header-designed {

        h2 {
            font-size: clamp(1rem, 1rem + 3vw, 2.5rem);       
        }
    }

    .main-designed{
        display: flex;
        align-items: center;

        .text-main-designed{
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-left: 4em;
            gap: 5em;

            .first-text-main-designed, .second-text-main-designed{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: start;
                gap: 1em;

                h3 {
                    font-size: clamp(1rem , 1rem + 3vw, 1.5rem);
                }

                p {
                    color: $VeryDarkGrayishBlue_body_copy;
                    line-height: 1.5;
                    font-size: clamp(.5rem, 1rem + 3vw, 1rem);
                    font-family: $Ubuntu4-5-7;
                }
            }
        }
    }








    .images-main-designed {
        width: 50%;
        
        img {
            &:nth-child(1){
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 11.6em;
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
